header{position:sticky;
    top:0;
    left: 0;
width: 100%;
background-color:rgb(27, 27, 27);
box-shadow: 0px 3px 20px rgba(7, 7, 7, 0.897);
}

nav{
display: flex;
justify-items: flex-end;
align-content: center;
justify-content:flex-end;

}

ul{
    display: inline-block;
list-style: none;
}

a{
    margin-left:10px ;
    margin-right:10px ;

    color:white ;
    text-decoration: none;
}